extends baseEmail

block content
  p Hi #{firstName},
  p You've done a good job? You have successfully reset your password, you'll need to login again with your new password.
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Login to my account
  p If you didn't forget your password, please ignore this email!
